<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>About Me...</h2>
    <div class="summary">
        <p>Welcome. My name is Roger Randall. I am a self-taught programmer with particular interest in Functional programming languages. I am looking for a position that will allow me to grow my programming skills alongside exceptional people working on intellectually-stimulating problems.</p>
        <p>Software development is my passion!</p>
    </div><!--//summary-->
</section><!--//section-->
