<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Vice President</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">BB&T Capital Markets</div>
                    </div><!--//meta-->
                    <div class="details">
                          <p>Technical Description: I create and execute customized capital formation strategies for non-profit senior living providers.</p>
                          <p>What this means: I have the pleasure of working with senior living organizations to help them provide the best possible care to as many people as possible.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Consultant</h3>
                            <div class="time">2014 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company"></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Sole-proprietor providing software development-as-a-service, focused on Elixir and Clojure projects.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Vice President</h3>
                            <div class="time">2005 - Feb 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Greystone</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><i>Greystone is the leading consultant and developer of senior living comunities nationwide.</i></p>
                        <p>At Greystone I was responsible for project management and client relationships across more than a dozen projects throughout the country. This involved:
                            <ul>
                                <li>Responsible for nationwide business development consisting of development planning, strategic planning, and financial advisory services for senior living providers.</li>

                                <li>Knowledgeably create capital and operating models for greenfield, redevelopment or expansion projects to appropriately understand market and financial viability.</li>
                                <li>Responsible for creating, modeling, sourcing and executing complex financing structures for new or distressed communities, and act on client’s behalf to negotiate covenants.</li>
                                <li>Communicate routinely with Boards of Directors and management teams regarding project status and viability.</li>
                            </ul>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Investment Analyst</h3>
                            <div class="time">2004 - 2005</div>
                        </div><!--//upper-row-->
                        <div class="company">Prudential Capital Group</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><i>Prudential Capital Group is the leading underwriter/investor of privately-placed debt in the United States.</i></p>
                        <p>At Prudential Capital Group I was responsible for analyzing and recommending potential investments in private companies.
                            <ul>
                                <li>Redeveloped central client database used nationally to increase speed and usability to facilitate continuous updating vs. batch update process.</li>
                                <li>Continuously monitor $700 million portfolio for impairments or improvements to each client’s ability to service debt.</li>
                                <li>Responsible for complex modeling of companies accounting for myriad pro-forma adjustments and stress-testing.</li>
                            </ul>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

</section><!--//section-->
