<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Sample Projects</h2>
    <div class="intro">
        <p>Please feel free to browse through my github repositories and exercism submissions to see examples of my code across several different langauges. Here are some suggestions:</p>
    </div><!--//intro-->

    <div class="item">
        <span class="project-title"><a href="#hook">Project 1</a></span> -
        <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Project 2</a></span> -
        <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Project 3</a></span> -
        <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Project 4</a></span> -
        <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Project 5</a></span> -
        <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
    </div><!--//item-->

</section><!--//section-->
