<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Sample Projects</h2>
    <div class="intro">
        <p>Please feel free to browse through my github repositories to see examples of my code across several different langauges. Here are some suggestions:</p>
    </div><!--//intro-->

    <div class="item">
        <span class="project-title"><a href="https://github.com/randre03/hassle">Hassle</a></span> -
        <span class="project-tagline">An implementation of Scheme in Haskell.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">twitter-bot</a></span> -
        <span class="project-tagline">A command line tool for posting to Twitter, driven by Clojure. </span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">parensinanger</a></span> -
        <span class="project-tagline">The classic game 'Memory" re-envisioned as a race against time and zombies. Implemented in Clojure and ClojureScript using such tools as Stuart Sierra's Component library and the React-like library Quiescent.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">cloLab</a></span> -
        <span class="project-tagline">A website version of a Lab notebook in ClojureScript (Om framework</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">fractionalKnapsack</a></span> -
        <span class="project-tagline">A Scala version of the classical fractional knapsack problem.. </span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Scalculator</a></span> -
        <span class="project-tagline">A Scala-based calculator.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Spreadsheet</a></span> -
        <span class="project-tagline">A JavaScript implementation of a web-based spreadsheet application using the Mithril framework.</span>
    </div><!--//item-->

</section><!--//section-->
